In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [16]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Teaching/6110/GitHub/IST6110-Spring-2026/Data/customer.csv")
# read_csv returns a datframe


df.head() #show about first 5 rows

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [17]:
df.shape #row x column

(219, 14)

In [18]:
df.describe() #Quick numeric summary (summarizes numeric columns)

,CustID,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast
count,2.190000e+02,219.000000,219.000000,219.000000,212.000000,214.000000,219.000000,219.000000
mean,1.557781e+06,3.086758,90034.068493,73036.529680,644.962264,648.607477,10.844749,184.958904
std,1.424019e+04,1.429300,18.970519,24060.293889,396.516608,348.058526,9.329523,100.830374
min,1.530016e+06,1.000000,90001.000000,31000.000000,42.000000,50.000000,1.000000,6.000000
25%,1.546122e+06,2.000000,90018.000000,54000.000000,331.750000,372.500000,4.000000,102.000000
50%,1.557181e+06,3.000000,90032.000000,70000.000000,587.500000,626.000000,9.000000,181.000000
75%,1.571437e+06,4.000000,90050.000000,91500.000000,883.250000,943.250000,15.000000,266.000000
max,1.579979e+06,5.000000,90068.000000,167000.000000,1851.000000,1250.000000,89.000000,360.000000

## Create a DataFrame from a dictionary or an excel file

A **DataFrame** is a **2D table** with **rows + columns** (similar to an Excel sheet).

A common way to build a DataFrame:
- Create a **dictionary**
- Each **key** becomes a **column name**
- Each **value** is a **list** (all lists must have the same length)
- You can also create a dataframe from an excel file (e.g., csv excel file)

In [11]:
# Note that data is a dictionary

# - keys   -> column names
# - values -> lists of column values
data = {
    "customer_id": ["C001", "C002", "C003", "C004", "C005", "C006"],
    "customer": ["Alice", "Ben", "Chris", "Diana", "Ethan", "Fiona"],
    "total_order_price": [120.50, 89.99, 45.00, 210.25, 15.75, 62.40],
    "returned": [False, True, False, False, True, False]
}

df1 = pd.DataFrame(data) # DataFrame method converts a dict to a dataframe
df1

  customer_id customer  total_order_price  returned
0        C001    Alice             120.50     False
1        C002      Ben              89.99      True
2        C003    Chris              45.00     False
3        C004    Diana             210.25     False
4        C005    Ethan              15.75      True
5        C006    Fiona              62.40     False

In [13]:
df1.shape #row x column

(6, 4)

In [14]:
df1.describe()

       total_order_price
count           6.000000
mean           90.648333
std            68.829664
min            15.750000
25%            49.350000
50%            76.195000
75%           112.872500
max           210.250000

### Dataframe index

*   In a DataFrame, row labels are called the index
*   Even if it looks like 0,1,2,3 ..., it still a **label**, not a real "data column

In [21]:
df.head()
# pay an attention to the index of the following dataframe:
# index --> 0, 1, 2, 3, 4 ....
# Note that the index is not a real number; it is a label (text)

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [22]:
# change the index from the defualt index to CustID
df_new = df.set_index("CustID")
df_new

,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
CustID,,,,,,,,,,,,,
1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578525,Male,Hispanic,12/12/1963,Yes,1,90005,82000,NaN,1121.0,25,302,Somewhat Satisfied,Web
1579349,Male,Asian,12/19/1980,Yes,1,90010,49000,217.0,397.0,10,200,Somewhat Satisfied,Web
1579389,Female,American Indian,5/21/2000,Yes,1,90009,50000,625.0,514.0,10,233,Somewhat Dissatisfied,Referral
1579857,Female,White,1/26/1991,Yes,1,90055,52000,325.0,586.0,13,219,Somewhat Dissatisfied,Referral
1579979,Male,White,7/5/1999,Yes,5,90043,102000,1080.0,926.0,10,113,Somewhat Satisfied,SM

In [24]:
df_new.shape #column: 14 --> 13 (why --> CustID is no longer a column ->becomes a new index)

(219, 13)

### Row subsetting/slicing

*   .iloc = integer position -based
*   .loc = label based

### iloc = integer position-based

In [29]:
df.iloc[0] #first row by (integer) position --> returns the first row

CustID                     1530016
Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 0, dtype: object

In [30]:
df.iloc[1] # returns the second row ([1] --> 2nd row)

CustID            1531136
Sex                  Male
Race                White
BirthDate        5/9/1993
College               Yes
HouseholdSize           5
ZipCode             90026
Income              94000
Spending2020       1227.0
Spending2021        843.0
NumOfOrders            12
DaysSinceLast         262
Satisfaction      Neutral
Channel                TV
Name: 1, dtype: object

In [31]:
#range
df.iloc[0:5] #returns the first 5 rows
#[0:5] --> 0, 1,2,3,4  (note that 5 is excluded)
# 0 -> 1st row, 1 --> 2nd row, 2 --> 3rd row, ....

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [32]:
#specific  rows by position
df.iloc[[0,3, 10]] # multple rows --> use double brackets!!
# 0 --> 1st row, 3 --> 4th row, 10 --> 11th row

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
10,1533791,Male,White,10/27/1999,Yes,1,90060,97000,828.0,1028.0,17,110,Very Dissatisfied,Web

### .loc = label-based (note that default index 0,1,2,3 are labels, not numbers)

*   .loc selects rows by lable (index label)

In [35]:
df.loc[0] # 0 is an index --> 0 is a label; returns the row whose index is 0

CustID                     1530016
Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 0, dtype: object

#### iloc vs loc

In [36]:
df.iloc[0:4] #integer based
#[0:4] --> 0,1,2,3 (note that 4 is excluded)
# 0-> first row, 1 --> 2nd row...

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM

In [37]:
df.loc[0:4] # label based; returns all the rows whose indexes are from 0 to 4

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [39]:
df_new.head() #customID is an index

,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
CustID,,,,,,,,,,,,,
1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [ ]:
df_new.loc[1530016] #label based --> row whose index is 1530016

In [ ]:
df_new.iloc[0] #integer based; 0 --> 1st row